extends layout 

block content
    h1.inbox_friends_list_title!= title
    if friendsList.length === 0
        p.inbox_friends_list_no_friend You have no friend.
    else
        each friend in friendsList
            a.inbox_page_friends_list(href=`/view-inbox/${friend.id}`) #{friend.username}
            br
            br
    
    
        
    if errors
          ul.error_field
            for error in errors
              li!= error.msg